form *{
  vertical-align: top;
}

/* モーダルウィンドウ用 */
#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

p2{
	position:absolute;top: 27pt; 
	right:20px;
	font-weight:normal;
  	font-size:20px;
}

p3{
	position:absolute;top: -23pt; 
	right:20px;
	font-weight:normal;
  	font-size:13px;
}

.search_all {
	position:absolute;top: 50pt; 
	right:15px;
}

.search_select {
	right:15px;
	height:27px;
	font-size:16px;
}

.search_button {
	background-color: skyblue; 
	right:1000px;
}

.button_place {
	position: relative;
	height: 50px;
	width: 100px;
	/* font-size: 10%; */
	margin-top: 15px;
	/* margin-left: 20px; */
}

.cp_iptxt {
	position: relative;
	width: 1000px;
	/* margin-left: 20px; */
	margin-top: 20px;
}
.cp_iptxt input[type='text'] ,input[type="password"] ,input[type="email"]{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 200%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #0a0a0a;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus,input[type="password"] ,input[type="email"] {
	border: 1px skyblue;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(170, 56, 60, 0.5);
}